   .content-table {
       width: 100%;
       border-collapse: collapse;
       margin: 25px 0;
       font-size: 0.9em;
       min-width: 400px;
       border-radius: 5px 5px 0 0;
       overflow: hidden;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

       thead tr {
           background-color: #2c3e50;
           color: #fff;
           text-align: center;
           font-weight: bold;

           th {
               text-transform: capitalize;
           }
       }

       th,
       td {
           padding: 12px 15px;
           font-size: 15px;

           .fa-trash-alt {
               color: rgb(170, 4, 4);
           }
       }

       tbody tr {
           border-bottom: 1px solid #dddddd;

           &:nth-of-type(even) {
               background-color: #f3f3f3;
           }

           &:last-of-type {
               border-bottom: 2px solid #2c3e50;
           }

           td a {
               text-decoration: none;
               color: black;

               .fa-edit {
                   color: rgb(22, 131, 255);
               }

           }
       }
   }